<!DOCTYPE html>
<html>
<head>
<title>Facebook Login</title>
<meta charset="UTF-8">
</head>
<body>
  <a id="loginbtn" onclick="javascript:loginWithFacebook()"  style="background-color: blue; color: white;">Login With Facebook</a> 
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : "YOUR_FACEBOOK_APP_ID",
        cookie     : true,
        xfbml      : true,
        version    : 'v11.0'
      });
        
      FB.AppEvents.logPageView(); 
        
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <script src="./script.js"></script>

  <div id="status">
  </div>

</body>
</html>